

## Kafka server address.
##
## Value: Port | IP:Port
##
## Examples: 3306, 127.0.0.1:3306, localhost:3306
kafka.server = 127.0.0.1:9092

## Kafka username.
##
## Value: String
kafka.username =

## Kafka password.
##
## Value: String
kafka.password =

## Kafka topic.
##
## Value: String
kafka.topic =